argparse==1.4.0
babel==2.3.4
beaker==1.9.0
bleach==2.1.3
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
-e git+https://github.com/ckan/ckan.git@aa1442cdea0d414a314285151d265b7f719bed81#egg=ckan
-e git+https://github.com/okfn/ckanext-contact.git@344c83d1a67c622eee319c94f74672a48e301ebe#egg=ckanext-contact
-e git+https://github.com/datopian/ckanext-datajson.git@16c99d59aad6698fcc9dae8964a1d89975181044#egg=ckanext-datajson
-e git+https://github.com/okfn/ckanext-envvars.git@8602376a92a77b4f2d41763b6823d041469fa08e#egg=ckanext-envvars
-e git+https://github.com/CivicActions/ckanext-ga-report.git@1de4e65a02d939dacc2a48069afd926603619490#egg=ckanext-ga-report
-e git+https://github.com/datopian/ckanext-googleanalytics.git@cca00c9ede424bc9e804a9c7f342e106184dff38#egg=ckanext-googleanalytics
-e git+https://github.com/ckan/ckanext-harvest.git@204b1f301a5cb21e459afca482c77f97e4ce3807#egg=ckanext-harvest
-e git+https://github.com/datopian/ckanext-hierarchy.git@bee0eb562eaea98060d26275940baf81a6e7e978#egg=ckanext-hierarchy
-e git+https://github.com/keitaroinc/ckanext-pages.git@1f813456f457b6804e1f321e3e9ec61b4f9133dc#egg=ckanext-pages
-e git+https://github.com/keitaroinc/ckanext-showcase.git@843f56ab1d21041e459038983cde6afc2d663597#egg=ckanext-showcase
-e git+https://github.com/ViderumGlobal/USMetadata.git@5a5d5e04d7c83b65f222298635faf4d22ee063e6#egg=ckanext-usmetadata
ckantoolkit==0.0.4
click==7.1.2
cryptography==3.3.2
decorator==4.2.1
enum34==1.1.10
et-xmlfile==1.0.1
fanstatic==0.12
flask==0.12.4
flask-babel==0.11.2
formencode==1.3.1
funcsigs==1.0.2
future==0.18.2
gdata==2.0.18
google-api-python-client==1.6.1
html5lib==1.0.1
httplib2==0.19.1
idna==2.10
ipaddress==1.0.23
itsdangerous==0.24
jdcal==1.4.1
jinja2==2.8
jsonschema==2.4.0
lepl==5.1.3
mako==1.0.7
markdown==2.6.7
markupsafe==1.0
nose==1.3.7
oauth2client==4.1.3
ofs==0.4.2
openpyxl==2.6.4
pairtree==0.7.1-T
passlib==1.6.5
paste==1.7.5.1
pastedeploy==1.5.2
pastescript==2.0.2
pbr==1.10.0
pika==0.9.8
polib==1.0.7
psycopg2==2.7.3.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygments==2.2.0
pylons==0.9.7
pyopenssl==20.0.1
pyparsing==2.4.7
pysolr==3.6.0
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2020.1
pyutilib.component.core==4.6.4
pyyaml==5.4.1
redis==2.10.1
repoze.lru==0.7
repoze.who==2.3
repoze.who-friendlyform==1.0.8
requests==2.24.0
rfc3987==1.3.8
routes==1.13
rq==0.6.0
rsa==4.5
simplejson==3.10.0
six==1.15.0
sqlalchemy==1.1.11
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
tempita==0.5.2
tzlocal==1.3
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.11
vdm==0.14
webencodings==0.5.1
weberror==0.13.1
webhelpers==1.3
webob==1.0.8
webtest==1.4.3
werkzeug==0.15.3
xlrd==2.0.1
zope.interface==4.3.2
#-e git+https://github.com/CivicActions/ckanext-ed.git#egg=ckanext-ed
